/* Main Window */
.primary {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url('../images/animated-2.jpg');
  background-position: center; */
}

/* Search Box */
.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1.5em;
}

.primary input {
  background: rgba(255,255,255, 0.6);
  padding: 1em;
  text-align: center;
  border-radius: 25px;
  border: none;
  opacity: 0.8;
  text-decoration: none;
  outline: none;
  font-size: 1rem;
  font-family: 'Titillium Web';
  width: 60%;
}

.searchIcon {
  color: rgba(255,255,255, 0.6);
  width: 4.5em;
  height: 4.5em;
}

.searchIcon:hover {
  cursor: pointer;
}

/* Second Container with main weather info */
.mainWeatherContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  font-family: 'Titillium Web';
}

.mainWeather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  background: rgba(255,255,255, 0.6);
  border: none;
  border-radius: 10px;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 75%;
}

.weatherIcon {
  height: 4.5em;
  width: 4.5em;
}

.temperature {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 25%;
}

.smallBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.smallBox h3 {
  margin: auto;
}

.smallBox h4 {
  margin: auto;
}

/* Secondary Weather Container */
.secondaryWeatherContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35%;
  font-family: 'Titillium Web';
}

.topLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: TL;
}

.topRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: TR;
}

.bottomLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: BL;
}

.bottomRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: BR;
}

.secondaryWeather {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "TL TL TL TR TR TR"
    "BL BL BL BR BR BR";
  width: 80%;
  height: 80%;
  background: rgba(255,255,255, 0.6);
  border: none;
  border-radius: 10px;
}

.secondaryWeather * {
  margin: auto;
}

/* Temp Conversion Button */
.convertButton {
  padding: 15px;
  margin-top: 25px;
  border: none;
  background: rgba(255,255,255, 0.8);
  border-radius: 25px;
  font-family: 'Titillium Web';
  font-size: 1rem;
}

.convertButton:hover {
  cursor: pointer;
  background: rgba(255,255,255, 0.5);
}